body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  #main_logo {
    display: table;
    margin: 0 auto;
    width: 65%;
  }
  .text {
    color: white;
    font: 1.25vw "Times New Roman", Serif;
  }

  #nextBtn {
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    background-color: transparent;
    border-radius: 1vw;
    padding: 1vw 2vw;
    border: 0.2vw solid #f44336;
    color: white;
    font-size: 2vw;
    text-decoration: none;
    transition-duration: 0.4s;
  }
  #nextBtn:hover {
    background-color: #f44336; /* Green */
    color: white;
  }