body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  #main_logo {
    display: table;
    margin: 0 auto;
    width: 65%;
  }
  .text {
    color: white;
    font: 1.50vw "Times New Roman", Serif;
  }

  @media screen and (max-width: 800px) {
    .text {
      font: 1.50vh "Times New Roman", Serif;
    }
  }

  #nextBtn {
    position: fixed;
    bottom: 1.5vw;
    right: 1.5vw;
    background-color: transparent;
    border-radius: 1vh;
    padding: 1vh 2vh;
    border: 0.2vh solid #f44336;
    color: white;
    font: 20px "Times New Roman", Serif;
    text-decoration: none;
    transition-duration: 0.4s;
  }
  #nextBtn:hover {
    background-color: #f44336; /* Green */
    color: white;
  }